body {
  background: white;
}

/* Search bar */
.form {
  position: relative;
}

.form-input {
  height: 55px;
  width: 100%;
  text-indent: 50px;
  border-radius: 25px;
}

.form-input:focus {
  box-shadow: none;
  border-width: 1px;
  border-color: lightgray;
}

.wd-search-icon {
  width: 20px;
  height: 100%;
  z-index: 10;
  color: gray;
  margin-right: -35px
}

.wd-img-dimension {
  max-height: 100%;
  max-width: 100%;
}

.wd-text-gray {
  color: darkgray;
}

.wd-article-img-dimension {
  max-height: 70px;
  max-width: 70px;
}

.wd-border-radius-5 {
  border-radius: 5px;
}

.wd-border-radius-40 {
  border-radius: 40px;
}

.wd-account-img-dimension {
  height: 45px;
  width: 45px
}

.wd-rounded-btn {
  color: white;
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0.4rem
}

.wd-rounded-btn:hover {
  cursor: pointer;
}

.wd-banner-container {
  position: relative;
}

.wd-banner {
  width: 100%;
  height: auto;
  margin-left: -10px
}

.wd-text-bottom-left {
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}